@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    height: 100vh;
    font-size: 18;
}

.blue-box{
    position: absolute;
    width: 371px;
    height: 524px;
    left: 500px;
    top: 250px;
    z-index: 999;
    background: #7857FF;
    background: -moz-linear-gradient(top, #7857FF 0%, #2E2BE9 100%);
    background: -webkit-linear-gradient(top, #7857FF 0%, #2E2BE9 100%);
    background: linear-gradient(to bottom, #7857FF 0%, #2E2BE9 100%);
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    color: white;
    display: grid;
}

.white-box{
    position: absolute;
    width: 454px;
    height: 524px;
    left: 780px;
    top: 250px;
    background: #FFFFFF;
    -webkit-box-shadow: 5px 9px 15px 5px rgba(17,37,212,0.15); 
    box-shadow: 5px 9px 15px 5px rgba(17,37,212,0.15);
    border-radius: 50px;
}

.circle{
	text-align: center;
    width: 200px;
    height: 200px;
    background: #2421CA ;
    background: -moz-linear-gradient(bottom, #2421CA  0%, #4E21CA 100%);
    background: -webkit-linear-gradient(bottom, #2421CA  0%, #4E21CA 100%);
    background: linear-gradient(to top, #2421CA  0%, #4E21CA 100%);
    border-radius: 200px;
    position: relative;
    align-self: center;
    left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; /* center align horizontally */
    align-items: center; /* center align vertically */
    height: 100vh; /* set container height to 100% of viewport height */ 
    width: 50%;
}

.reaction, .memory, .verbal, .visual{
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 20px;
    left: 765px;
    width: 310px;
    height: 50px;   
    float: right;
}

h3, .top-text, .score{
    font-size: 18px;
    font-weight: bolder;
    color: hsl(0, 0%, 100%, 0.5);
    padding: 10px;
}

.grade{
    font-size: 82px;
    font-weight: 800;
    align-self: center;
    padding: 0;
    margin: 0;
    line-height: 100px;
}

.overall{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%, 0.5);
}


.summary{
    width: 151px;
    height: 39px;
    left: 115px;
    top: 50px;
    position: relative;
    padding-bottom: 70px;
    font-size: 24px;
    font-weight: 700;

}
.reaction{
    background-color: hsl(0, 100%, 67%, 0.1);;
    color: hsla(0, 100%, 67%);
    top: 328px;
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsla(39, 100%, 56%);
    top: 407px;
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}


.blue-button{
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 30px!important;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    left: 765px;
    top: 661px;
    width: 310px;
    float: right;
    height: 50px;
    margin-right: 30px;
}

.blue-button:active{
    background: #2421CA ;
    background: -moz-linear-gradient(bottom, #2421CA  0%, #4E21CA 100%);
    background: -webkit-linear-gradient(bottom, #2421CA  0%, #4E21CA 100%);
    background: linear-gradient(to top, #2421CA  0%, #4E21CA 100%);
}

#left{
    float: left;
}

#right{
    float: right;
}

img{
    padding: 5px;
    height: 25px;
}

.attribution{
    position: relative;
    top: 400px;
}


@media screen and (max-width: 375px) {

    .container{
        display: block;
        position: relative;
    }
    .blue-box{
        width: 100%;
        margin: 0;
        left: 0;
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: fit-content;
    }

    .white-box{
        display: hidden;
        left: 0;
        top: 500px;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
    }

    .summary{
        left: 30px;
        padding-bottom: 80px;
    }

    .attribution{
        top: 970px;
        position: absolute;
        text-align: center;
    }

    .reaction, .memory, .verbal, .visual{
        margin-top: 15px;
        margin-right: 35px;
    }

    .blue-button{
        margin-top: 40px;
    }
  }

  