.blue-box{
    background-color: hsl(234, 85%, 45%);
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-left: 25%;
    flex: 1;
    height: 400px;
}

.white-box{
    flex: 1;
    background-color: white;
    color: black;
    text-align: left;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-right: 25%;
    border: 2px, solid, black;
    height: 400px;
    box-shadow: 10px 10px 11px 0px rgba(209,202,202,0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(209,202,202,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(209,202,202,0.75);
}